.container {
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .year-text,
  .description {
    color: gray;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .division-content {
    padding: 10px;
  }
  
  .criterion-card {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }
  
  .factor-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  
  .factor-name {
    flex-grow: 1;
  }
  
  .factor-percentage {
    width: 80px;
  }
  
  .add-button {
    margin-top: 10px;
  }
  .collapse-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }
  .indicator-actions{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .factor-indicator-actions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0px;
  }
  .indicator-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .indicator-action{
    display: flex;
    gap: 5px;
  }