:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.wrapper-btn{
  display: flex;
  align-items: center;
  gap: 10px;
}
.search_btn{
  display: flex;
  gap: 15px;
}
.search-input{
  width: 400px;
}
.clickable-row:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.team-lead-row {
  background-color: #e6f7ff; /* Och ko'k fon */
  font-weight: bold; /* Qalin shrift */
}
.team-lead-row:hover {
  background-color: #d9f0ff; /* Hover effekti */
}
.performance_result{
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.performance_head{
  display: flex;
  gap: 5px;
}

@media (max-width: 1200px) {
  .search-input{
    width: 100%;
  }
}